<div class="col mb-2">
    <article class="card h-100 border-0 shadow">
        {{/*  <div class="card-img-top position-relative overflow-hidden">
            <a class="d-block" href="nft-single-auction-live.html">
                <img src="https://cartzilla.createx.studio/img/nft/catalog/16.jpg" alt="Product image">
            </a>
        </div>  */}}
        <div class="card-body">
            <h3 class="product-title mb-2 fs-base">
                <a class="d-block" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                {{ if isset .Params "lyric" }}
                <span class="fs-sm text-muted">গীতিকার: </span><span>{{ .Params.lyric }} </span>
                {{ end }}
                {{ if isset .Params "composer" }}
                   <br><span class="fs-sm text-muted">সুরকার: </span><span>{{ .Params.composer }} </span>
                {{ end }}
        </div>
        {{/*  <div class="card-footer mt-n1 py-0 border-0">
            <div class="d-flex align-items-center position-relative mb-1 py-3 border-top"><img
                    class="me-2 rounded-circle" src="img/nft/catalog/avatars/16.png" width="32" alt="Avatar"><a
                    class="nav-link-style fs-sm stretched-link" href="nft-vendor.html">@distrokid</a></div>
        </div>  */}}
    </article>
</div>